@-moz-document url(chrome://browser/content/browser.xhtml) {
    /* Hide tabs and other changes for using Tree Style Tabs as the default */
   .tab-background { border-top: none !important; }
   #navigator-toolbox::after { border: none; }
   #TabsToolbar .tabbrowser-arrowscrollbox,
   #tabbrowser-tabs, .tab-stack { min-height: 28px !important; }
   .tabbrowser-tab { font-size: 80%; }
   .tab-content { padding: 0 5px; }
   .tab-close-button .toolbarbutton-icon { width: 12px !important; height: 12px !important; }
   #TabsToolbar {
       visibility: collapse !important;
   }
   #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
       display: none;
   }
}

/*** Tighten up drop-down/context/popup menu spacing ***/
menupopup > menuitem, menupopup > menu {
 padding-block: 4px !important;
}
:root {
 --arrowpanel-menuitem-padding: 4px 8px !important;
}


/*** Moves the main toolbar (#nav-bar) to the bottom of the window ***/
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_below_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
@-moz-document url(chrome://browser/content/browser.xhtml){

   :root:not([inFullscreen]){
     --uc-bottom-toolbar-height: calc(39px + var(--toolbarbutton-outer-padding) )
   }
 
   :root[uidensity="compact"]:not([inFullscreen]){
     --uc-bottom-toolbar-height: calc(32px + var(--toolbarbutton-outer-padding) )
   }
 
   #browser,
   #customization-container{ margin-bottom: var(--uc-bottom-toolbar-height,0px) }
 
   #nav-bar{
     position: fixed !important;
     bottom: 0px;
     /* For some reason -webkit-box behaves internally like -moz-box, but can be used with fixed position. display: flex would work too but it breaks extension menus. */
     display: -webkit-box;
     width: 100%;
     z-index: 1;
   }
   #nav-bar-customization-target{ -webkit-box-flex: 1; }
 
   /* Fix panels sizing */
   .panel-viewstack{ max-height: unset !important; }
 
   #urlbar[breakout][breakout-extend]{
     display: flex !important;
     flex-direction: column-reverse;
     bottom: 0px !important; /* Change to 3-5 px if using compact_urlbar_megabar.css depending on toolbar density */
     top: auto !important;
   }
 
   .urlbarView-body-inner{ border-top-style: none !important; }
}